@import url(../node_modules/normalize.css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Cantarell:wght@400;500;700&family=Open+Sans:wght@400;500;700&family=Oxygen:wght@400;500;700&family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #121314;
  display: block;
  padding: 5vh 10vw;
  -webkit-font-smoothing: antialiased;
  font-size: calc(10px + 0.33vw);
  margin: 8px; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  .container h1 {
    font-size: 4.5em;
    font-weight: 500;
    margin-bottom: 0; }
  .container p#name_paragraph {
    font-weight: 500 !important;
    font-size: 2.2em;
    line-height: 1.4;
    max-width: 28em; }
  .container p {
    display: block;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.4;
    max-width: 28em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; }
    .container p b {
      font-weight: 500; }
    .container p a {
      text-decoration: none;
      color: #121314;
      position: relative;
      cursor: pointer; }
      .container p a::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 60%;
        left: -0.1em;
        right: -0.1em;
        bottom: 0;
        transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
        background-color: rgba(79, 192, 141, 0.5); }
  .container .contact ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6em;
    max-width: 28em;
    color: #000;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; }
    .container .contact ul li {
      margin-right: 0.5em; }
      .container .contact ul li a {
        color: #000; }

@media screen and (max-width: 600px) {
  .contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: flex-start;
    margin-left: 1rem;
    align-items: fle; } }

/*Animassyon*/
.left-animation {
  animation: maveInLeft 1500ms; }

.right-animation {
  animation: maveInRight 1500ms; }

.top-animation {
  animation: maveInTop 1500ms; }

.bottom-animation {
  animation: maveInBottom 1200ms; }

@keyframes maveInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  75% {
    transform: translateX(20px); }
  100% {
    transform: translateX(0px); } }

@keyframes maveInRight {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  75% {
    transform: translateX(-20px); }
  100% {
    transform: translateX(0px); } }

@keyframes maveInTop {
  0% {
    transform: translateY(-100px);
    opacity: 0; }
  75% {
    transform: translateY(20px); }
  100% {
    transform: translateY(0px); } }

@keyframes maveInBottom {
  0% {
    transform: translateY(100px);
    opacity: 0; }
  75% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0px); } }
