@import url(../node_modules/normalize.css/normalize.css);
body {
  font-family: "Indie Flower", cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  background: url("/img/backgroung.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%; }

h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  margin-top: 10px; }

@media (max-width: 460px) {
  h1 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold; } }

h2 {
  font-size: 3.25rem; }

a {
  color: #477ca7;
  transition: 3ooms all; }

a:visited {
  color: #74638f; }

a:active {
  color: black; }

#main {
  margin: 5px 8px;
  padding: 10px;
  border-radius: 5px; }

@media (max-width: 460px) {
  #main {
    margin: 0; } }

img {
  max-width: 25%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 5px; }

#title:hover {
  color: dimgray; }

.share ul li:hover {
  transition: 600ms all; }

#figure#img-div {
  background: white;
  padding: 10px;
  margin: 0; }

#img {
  display: block;
  justify-content: center;
  border: 1px solid black; }

#img-caption {
  margin: 15px 0 5px 0; }

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem; } }

#headline {
  margin: 50px 0;
  text-align: center; }

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6; }

li {
  margin: 16px 0; }

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left; }

ion-icon {
  color: black;
  font-size: 64px; }

.share ul {
  display: flex;
  list-style: none;
  justify-content: center; }

.share ul li {
  padding-left: 20px; }

.share ul li a {
  transition: 300ms all;
  color: green; }

.share-title {
  display: flex;
  justify-content: center; }

.container-contact {
  padding: 0px 0px; }

.tribute {
  text-decoration: none; }

/*Animassyon*/
.left-animation {
  animation: maveInLeft 2500ms; }

.right-animation {
  animation: maveInRight 1500ms; }

.top-animation {
  animation: maveInTop 1500ms; }

.bottom-animation {
  animation: maveInBottom 1200ms; }

@keyframes maveInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  75% {
    transform: translateX(20px); }
  100% {
    transform: translateX(0px); } }

@keyframes maveInRight {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  75% {
    transform: translateX(-20px); }
  100% {
    transform: translateX(0px); } }

@keyframes maveInTop {
  0% {
    transform: translateY(-100px);
    opacity: 0; }
  75% {
    transform: translateY(20px); }
  100% {
    transform: translateY(0px); } }

@keyframes maveInBottom {
  0% {
    transform: translateY(100px);
    opacity: 0; }
  75% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0px); } }
